*{
    margin: 0;
    padding:0;
}
body{
    width:100%;
    height:100vh;
    
}
div.Id{
display:flex;
justify-content: center;
margin-top: 120px; 
}

.main{
    /* width: 300px;
    height: 450px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    padding: 10px 20px;
    background-color: aqua;
    border-radius: 20px;
    

}
h1{
    padding-left: 20px;
}
label{
font-size: 20px;
font-weight: 20px;
padding: 10px 0 10px 20px;




}
input{
    width: 200px;
    height: 30px;
    padding-bottom: 10px;
    
}
.btn{
    width: 80px;;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
    margin-left: 70px;
}
.btn :hover{
    color:royalblue;
    background-color: blueviolet;
}
.next{
    display: flex;
    text-decoration:none;
    padding-left: 100px;
    
}
section{
background-color: aquamarine;
display:flex;
justify-content: center;
height:100%;
width:100%;


}  

form.form{
    border: 2px solid;
    border-radius: 25px;
    
}
 form h1{
   margin: 5px;
    
    
}
div.maa{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}
div.maa button{
     background-color: dimgray;
    margin-top: 40px;
    margin-bottom: 20px;
   margin-right: 50px;
   margin-left: 30px;
    padding:10px 0px 10px 0px;
}
div.maa button#1{
    margin: 10px;
}